// Navigation Styles here

nav{
    
    text-align: right;
    border-bottom: 2px dashed silver;
    

    h1{
        text-align: left;
    }
    
    a{
        text-decoration: none;
        color: black;
        text-align: right;
        font-size: 1.5rem;
        justify-content: space-evenly;
    }
  
}

.destination{
    .btn{
        display:flex;
        border-radius: 16px;
        justify-content: center;
        background: rgb(0, 128, 122);
        color:white;
        font-size: 18px;
        padding:11px;
        width: 80%;
    }
}

.welcome-content p{
    font-size:18px;
    

    .h3{
        font-size: 18px;
    }
}
